.main {
  padding: 50px var(--section-side-padding) 25px;
}

.analytics {
  margin-bottom: 70px;
}

@media screen and (min-width: 1200px) {
  .analytics {
    display: flex;
    column-gap: 15px;
  }

  .staff_reports {
    display: flex;
    column-gap: 20px;
  }
}
